.both-ques-ans-card {
  width: auto;
  margin-top: 10px;
  border: 1px solid;
  background-color: rgb(208, 250, 222);
}

.question {
  font-weight: "bolder";
  font-size: 1.2em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.answer {
  font-family: Garamond, Geneva, Tahoma, sans-serif;
  font-size: 1.1em;
}
.questionAndSubmit {
  display: flex;
}

.show-button {
  margin-left: auto;
}
